@page "/bot"
@using Conceptoire.Twitch.Options

<h1 class="display-1"><i class="bi bi-cpu-fill"></i> Bot</h1>

<BotAccountSelection />

<BotActivation />

<div>
    <h4>Commands configuration</h4>
    <BlipBloopWeb.Shared.Commands.CommandGrid />
</div>

@code {
    [CascadingParameter(Name = "ServiceContext")]
    public MainLayout ServiceContext { get; set; }

    private Dictionary<string, CommandOptions> _botCommands = new Dictionary<string, CommandOptions>();
}
