<AuthorizeView>
    <Authorized>
        <div class="btn-group">
            <a class="nav-link dropdown-toggle btn" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <div class="ms-2 me-auto">
                        Logged in as
                        <div class="fw-bold">@ServiceContext.UserName</div>
                    </div>
                </li>
                <li><a class="dropdown-item" href="logout">Logout</a></li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter(Name = "ServiceContext")]
    public MainLayout ServiceContext { get; set; }
}