<AuthorizeView>
    <Authorized>
        Hello, @context.User.FindFirst("preferred_username")?.Value !
        <form method="get" action="logout">
            <button type="submit" class="nav-link btn btn-link">
                Logout
            </button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>