@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>@(ServiceContext.UserName ?? "Please Login")</h3>

@if (ServiceContext.IsAuthenticated)
{
    <p>Twitch id @ServiceContext.UserId</p>
    <ChannelActivation />
}
else
{
    <a class="btn btn-primary btn-lg" href="login?redirectUri=/">
        <i class="bi bi-twitch"></i>
        Login with Twitch
    </a>
}

@code {
    [CascadingParameter(Name = "ServiceContext")]
    public MainLayout ServiceContext { get; set; }

}
