@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>@(ServiceContext.UserName ?? "Please Login")</h3>

@if (ServiceContext.IsAuthenticated)
{
    <p>Twitch id @ServiceContext.UserId</p>
    <ChannelActivation />
}
else
{
    <a class="btn btn-primary btn-lg" href="login?redirectUri=/">
        <i class="bi bi-twitch"></i>
        Login with Twitch
    </a>
    <p>
        Note: This service is extremely early and is a work in progress.
        <br />
        Currently no information is persisted to storage.
        <br />
        One you have tested the service, you can revoke its access <a href="https://www.twitch.tv/settings/connections"> on your Twitch "connections" page</a>, look for "[Preview] Conceptoire Services".
    </p>
}

@code {
    [CascadingParameter(Name = "ServiceContext")]
    public MainLayout ServiceContext { get; set; }

}
