@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@ViewData["Title"] - Twitch Services</title>

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
</head>
<body>
    <aside class="sidebar pos-absolute z-2"
           data-role="sidebar"
           data-toggle="#sidebar-toggle-4"
           id="sb4"
           data-shift=".shifted-content-2"
           data-static-shift=".shifted-content-2"
           data-static="md">
        <div class="sidebar-header bg-violet">
            <span class="mif-twitch mif-5x fg-white"></span>
            <span class="title fg-white">Twitch Service</span>
            <span class="subtitle fg-white"> custom bot services</span>
        </div>
        <ul class="sidebar-menu">
            <li><a><span class="mif-home icon"></span>Bot service</a></li>
        </ul>
    </aside>
    <div class="shifted-content-2 h-100 p-ab">
        <div class="appbar pos-absolute bg-violet z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>

        <div class="h-100 p-4">
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>