@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <script>
        addEventListener('load', (event) => {
            var fragmentString = location.hash.substring(1);

            var request = new XMLHttpRequest();
            request.open("POST", "/signin-oidc");
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.onload = (xhrEvtLoad) => {
                location = request.responseURL;
            };
            request.send(fragmentString);
        });
    </script>
</body>
</html>